body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.middle-menu {
  font-weight: bold;
  font-size: 14px;
}

.middle-menu .col-auto {
  padding-left: 18px;
  padding-right: 18px;
}